.App {
  text-align: center;
}

.App-header {
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Logo-container {
  display: inline-flex;
}