.App {
  text-align: center;
}

.App-header {
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14;
  color: white;
}

.App-link {
  color: #09d3ac;
}
